body > .devsite-wrapper > :is(top-nav, navigation-rail, side-nav, devsite-header),
body > .devsite-wrapper > :is(devsite-book-nav, .devsite-book-nav-bg, .devsite-book-nav-blur, .devsite-book-nav-toggle), 
main > :not(:last-child),
main ~ :is(.devsite-footer) {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
}
